# node dependencies
node_modules/
npm-debug.log
yarn-error.log
.env

# terraform dependencies
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.d/

.DS_Store
Thumbs.db

# artifacts for deployment on ec2
deploy.zip
image_tag.txt
